# --------------------------
# Quarto build output
# --------------------------
_site/
site_libs/
*.knit.md
*.utf8.md
*.log
*.tmp
*.bak

# --------------------------
# RStudio project files
# --------------------------
.Rproj.user
.Rhistory
.RData
.Ruserdata

# --------------------------
# Quarto project config (local)
# --------------------------
/.quarto/

# --------------------------
# System / OS files
# --------------------------
.DS_Store
Thumbs.db
desktop.ini



