# ===========================
# R / RStudio files
# ===========================
.Rproj.user
.Rhistory
.RData
.Ruserdata

# ===========================
# Quarto intermediate files
# ===========================
_freeze/
.quarto/

# ===========================
# System files
# ===========================
.DS_Store
Thumbs.db
desktop.ini


/.quarto/
